.dark-mode {
    background-color: darken($grisOscuro, 10);

    p{
        color: $blanco;
    }

    a, h1, h2, h3, blockquote  {
        color: $gris !important;
    }

    .anuncio {
        background-color: darken($grisOscuro, 3) !important;
        border: 1px solid $grisOscuro !important;

        .precio {
            color: $verde;
        }
    }

    .iconos-caracteristicas {
        img {
            filter: invert(80%) !important;
        }
    }

    .formulario {
        legend, label {
            color: $gris;
        }

        p {
            color: $blanco;
        }

        input, textarea, select {
            background-color: darken($grisOscuro, 3) !important;
            color: $blanco;
            border: 1px solid darken($grisOscuro, 10) !important;

            &:focus {
                border: 1px solid $gris !important;
            }
        }

        input::placeholder {
            color: darken($gris, 11) !important;
        }

        input[type="submit"] {
            border: 1px solid $verde !important;
            background-color: transparent;

            &:hover {
                background-color: $verde !important;
                color: $blanco;
            }
        }

    }

    .navegacion {
        a:hover {
            color: $verde !important;
        }
    }

    table.propiedades {
        thead {
            background-color: $success;
        }

        tbody {
            td {
                color: $blanco;
            }
        }
    }
}